<?xml version="1.0"?>
<!--
/**
 * @category  CMSScheduler
 * @package   SixtySeven_CMSScheduler
 * @author    Bharat
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <preference for="Magento\Cms\Model\ResourceModel\Block" type="SixtySeven\CMSScheduler\Preference\Model\ResourceModel\Block" />
  <preference for="Magento\Cms\Model\ResourceModel\Page" type="SixtySeven\CMSScheduler\Preference\Model\ResourceModel\Page" />
</config>